<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Félicitations! </title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script>window.$ = window.jQuery = require('../../../node_modules/jquery/dist/jquery.slim.min.js');</script>
    <link rel="stylesheet" href="../../../assets/css/terminal.css"/>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

    
    <script src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body style="	font-family: 'Courier New', monospace !important; background-color: black; color:beige !important;width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; " >

        <div class="noise"></div>
        <div class="overlay"></div>
        <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
        <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
        <p class="output">Good luck.</p>
        </div>

    <script src="terminal.js"> </script>
  </body>
  </html>