<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Félicitations! </title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script>window.$ = window.jQuery = require('../../../node_modules/jquery/dist/jquery.slim.min.js');</script>
    <link rel="stylesheet" href="../../../assets/css/terminal.css"/>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

    
    <script src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body style="	font-family: 'Courier New', monospace !important; background-color: black; color:beige !important;width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; " >

        <div class="noise"></div>
        <div class="overlay"></div>
        <div class="terminal">
            <div style="min-height: 40%; height:40vh;">
                <h1>Attention : le fichier cliqué contenait un virus. </h1>
                <h1>Ordinateur infecté dans <span id="time">02:00</span></h1>
                <h1> Veuillez effectuer les manoeuvres d'urgence en tapant les commandes suivantes :</h1>
                <p class="output">Pour changer tous les mots de passe enregistrés [change mdp]<b id='1' class='output' hidden> ✓</b></p>
                <p class="output">Pour analyser tous les fichiers de l'ordinateur [analyse complete]<b id='3' class='output' hidden> ✓</b></p>
                <p class="output">Pour faire une sauvegarde de sécurité [backup]<b id='2' class='output' hidden> ✓</b></p>
                <p class="output" hidden id="exit">Pour terminer la manoeuvre d'urgence [exit]</p>
            </div>

            <div class="container d-flex justify-content-center" style="min-height: 20%; height:20vh;"></div>
            <div>
                <div class=" row" id="response" style="min-height: 5%; height:5vh;"></div>
                <div id="change" class=""  style="min-height: 15%; height:15vh;">
                    <form id="mdp" hidden>
                        <div class="row">
                            <h4 id="msg">Veuillez choisir de nouveaux mots de passe</h4>
                        </div>
                        <div class="row">
                            <b class="output col-2">Facebook</b> 
                            <input id="mdp1" type="text" class="mb-2 output darkInput ml-2" style="width:500px !important;">
                        </div>

                        <div class="row">
                            <b class="output col-2">Instagram</b>
                            <input id="mdp2" type="text" class="mb-2 output darkInput ml-2" style="width:500px !important;">
                        </div>
                    
                        <div class="row">
                            <b class="output col-2">Ordinateur</b>
                            <input id="mdp3" type="text" class="mb-2 output darkInput ml-2" style="width:500px !important;">
                        </div>

                        <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
                    </form>
                    <div id="viru" hidden>Fichier infecté mis en quarantaine.</div>
                    <div class="loading-pulse" id="loader" hidden><br>       Veuillez patienter</div>
                    <div class="row" id="nonunderstood" hidden>
                        <div class="" > <h3> La commande <c id='coucou'></c> n'existe pas</h3></div>
                    </div>
                    
                </div>
                <form id="commandf" class=" align-self-center pb-2">
                    <div class="row">
                        <b class="output"></b>
                        <input id = "command"  onchange="" class="darkInput output ml-2" >
                        <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
                    </div>
                </form>
            </div>
        </div>
    <script src="terminal.js"> </script>
  </body>
  </html>