<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Bureau</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script>window.$ = window.jQuery = require('../../../node_modules/jquery/dist/jquery.slim.min.js');</script>
    <link rel="stylesheet" href="../../../assets/css/main.css"/>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

    
    <script src="../../../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body class="back-mail">
    <div class="container-fluid">
        <div class="container d-flex " style="min-height: 5%; height:5vh;">
        </div>
        <!-- énoncé -->
        <div class="container pb-2" style="min-height: 23%; height:23vh;">
            <div class="card col-12">
                <div class="card-body">
                    <div class="container d-flex " style="">
                        <p class= "">Aujourd’hui, vous êtes des experts en cybersécurité. 
                            Vous avez été appelés dans cette école pour résoudre un problème ; tous les points des bulletins à venir ont été volés ! 
                            Qui sait ce que le hacker a pu faire d’autre? 

                            Personne ne sait ce qu’il s’est passé, mais le directeur/la directrice vous a glissé un indice : 
                            c’est après avoir cliqué sur un mail qui avait l’air tout à fait innocent que les bulletins ont disparu de ses dossiers. 
                            Avant de partir à la recherche des bulletins perdus, il serait bon de savoir si la catastrophe peut être évitée à l’avenir.
                            Pouvez-vous indiquer au directeur quels indices auraient pu lui mettre la puce à l’oreille ?  Cliquez dessus pour les montrer.
                    </div>
                    <div class="container d-flex " style=""> 
                        <h5>Apparemment, c’est après avoir cliqué sur ce lien que l’ordinateur a effacé toutes les photos.  
                            Je pense que l’on aurait pu savoir qu’il fallait supprimer ce mail au lieu de cliquer. Tu peux nous aider?  </h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid"> 
            <div class="row">
                <!-- mail -->
                    <div class="container d-flex " style="min-height: 60%; height:60vh;">
                        <div class="card col-12" style="cursor: pointer" >
                            <div class="card-body">
                                <h5 class="card-title">Message de l'attaquant</h5>
                                <table class = "table table-bordered table-hover no-pad">
                                    <tbody>
                                        <tr tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" title="Faux" data-content="Je ne pense vraiment pas que ça puisse aider..." >
                                            <th scope ="row" > Date de création :</th>
                                            <td>22 mars 2021 à 08:30 </td>
                                        </tr>
                                        <tr id="mail" tabindex="1" role="button" data-bs-toggle="popover" data-trigger="focus" title="Vrai" data-content="Effectivement, cette adresse mail n'appartient pas à bpost! N'hésite jamais à vérifier!" >
                                            <th scope ="row"> De :</th>
                                            <td>bpost@belgmail.com </td>
                                        </tr>
                                        <tr id="object" tabindex="2" role="button" data-bs-toggle="popover" data-trigger="focus" title="Vrai" data-content="Celle-ci n'était pas facile! Bravo!
                                        En effet, les attaquants essaieront souvent de te faire passer à l'action en mettant des mots démesurés dans l'objet du mail." >
                                            <th scope ="row"> Objet :</th>
                                            <td>Problème avec votre colis : PAIEMENT REQUIS </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <table class="table table-bordered table-hover no-pad table-secondary">
                                    <tbody>
                                        <tr>
                                            <td scope ="row" > 
                                                <div class="row"> 
                                                    <img src = "../assets/images/bpost.png" id="folder" height= "80px" class="pb-2 mx-auto "/>
                                                </div>

                                                <div class="card pl-2 pr-2">
                                                    <div class="card-body table-hover">
                                                        <h5 class="text-center clickable"tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" title="Faux" 
                                                            data-content="Effectivement, tu pourrais vérifier le numéro, mais ce n'est pas le plus simple.">
                                                            VOTRE PAQUET BE8547965445799 SE TROUVE DANS NOS LOCAUX A:
                                                        </h5>
                                                        <p class="text-center clickable" tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" title="Faux" 
                                                        data-content="C'est tout à fait vraisemblable, non?" > Centre de Distribution BRUXELLES </p>
                                                        <h5 class="text-center clickable" tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" title="Faux" 
                                                        data-content="Presque! C'est effectivement déjà étonnant." >FRAIS MANQUANTS A PAYER:</h5>
                                                        <p class="text-center clickable" id="money" tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" 
                                                        title="Vrai" data-content="Oui, parfois il suffit de se demander si ça a du sens. Bpost pèse les colis avant l'envoi, c'est donc sûrement faux!" >
                                                            4,95€ - COLIS DEPASSANT LA LIMITE DE POIDS <br>
                                                            Cliquez sur ce lien pour effectuer le paiement: www.bpost.com/paiement</p>

                                                        <p class="text-center clickable"  tabindex="0" role="button" data-bs-toggle="popover" data-trigger="focus" 
                                                        title="Vrai" data-content="Oui, mais tu aurais pu le voir encore plus tôt."> Toute réclamation doit être adressée à : secretariat@belgmail.com. <br>
                                                            Copyright © 2015-2021 bpost  |  Service clients  |  Clause de non-responsabilité  |  Conditions générales |  Cookies
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">

                            </div>
                        </div></div>
                    <div style="min-height: 5%; height:5vh;"></div>
                            <!-- colonne de droite -->
            </div>
        </div>

        <!-- bottom -->
        <div class = "container d-flex"style="min-height: 5%; height:5vh;">
            <div class="d-grid gap-2 col-6 mx-auto pt-2 hidden" id="butt">
                
              </div>
        </div>

        <div class="container-fluid align-self-end align-items-center">
            <div class="row justify-content-end ">
                <div class="col-2"></div>
                <div class=" col-8 justify-self-center text-center">
                    <h4></h4>
                </div>

                <div class="col-2 ">
                    <!-- Button trigger modal -->
                    <button type="button" class="pixel" data-toggle="modal" data-target="#exampleModalCenter">
                        <p>À l'aide</p>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous un indice?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Je pense que la meilleure chose à faire est de trouver comment repérer le fishing...
                                    C'est comme ça qu'on appelle les messages qui essaient de tromper les gens pour récupérer des informations ou installer des virus.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                                </div>
                            </div>
                        </div>
                    </div> <!-- fin de la modale -->
                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="renderer_mail.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
</body>
</html>