

.password-font{
    font-size:60pt;
    background-color: rgb(179, 187, 195);
    width: 200pt;
    outline: none;
    border:0;
}

.bottom-line{
    border-bottom: 5px solid;
    border-bottom-color: white;
}
.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

.desktop_back{
    background-image: url(../images/fond.png);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dossier{
  cursor: pointer;
    background-color:rgba(64,64,64,.0)

}
.validated{
  border: 5px solid rgba(0,128,0,0.68);
}
.clickable{
}
.clickable:hover{
  background-color:#E5E5F7;
}
.dossier:hover{
    background-color: rgba(123,123,123,.5);
    outline: 1px solid grey;
}
.contenant_button{
  position:relative;
  text-align:center;
  cursor:pointer;
}
.contenant_icon{
  position: relative;
  text-align: center;
  color: white;
}

.contenant_files{
  position: relative;
  text-align: center;
}
.back-mail{
  background-color: #E5E5F7;

  background: repeating-linear-gradient( -45deg, #b3bbc3, #b3bbc3 10px, #E5E5F7 10px, #E5E5F7 50px );
}
.text_icon{
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #533A3D 1.5px 1.5px, #533A3D -1.5px 1.5px, #533A3D -1.5px -1.5px, #533A3D 1.5px -1.5px;

}
.text_file{
  font-size: 20px;
  color:white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #3D3B31 1.25px 1.25px, #3D3B31 -1.25px 1.25px, #3D3B31 -1.25px -1.25px, #3D3B31 1.25px -1.25px;
}

.no-pad{
  padding:0 !important;
  margin:0 !important;
}
  
  .pixel{
    padding: 0;
    font-size: 20px;
    color: white;
    background-color: rgba(179, 187, 195, .0);
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  