@font-face {
  font-family: 'pixel';
  font-style: normal;
  font-weight: 300;
  src: url(assets\fonts\VT323-Regular.woff) format('woff');
}

.password-font{
    font-size:60pt;
    background-color: rgb(179, 187, 195);
    width: 200pt;
    outline: none;
    border:0;
}

.bottom-line{
    border-bottom: 5px solid;
    border-bottom-color: white;
}
.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

.profile_picture{
  outline: 4px solid rgb(200,200,200)
}

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

.desktop_back{
    background-image: url(../images/fond.png);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hint{
  border-bottom: 5px solid #919998;
  border-radius: 19px 10px 10px 19px; 
  background-color: white; 
}

.validated{
  outline: 3px solid rgba(0,128,0,0.68);
  outline-offset: -3px;

}

.clickable{
}
canvas {display: block;}
.clickable:hover{
  background-color:#E5E5F7;
}
.dossier{
  cursor: pointer;
    background-color:rgba(64,64,64,.0)

}
.dossier:hover{
    background-color: rgba(123,123,123,.5);
    outline: 1px solid grey;

}
.fbSide{
  cursor: pointer;

}
.fbSide:hover{
    background-color: rgba(200,200,200,.5);

    border-radius: 10px;
}

.contenant_button{
  position:relative;
  text-align:center;
  cursor:pointer;
}
.contenant_icon{
  position: relative;
  text-align: center;
  color: white;
}

.contenant_files{
  position: relative;
  text-align: center;
}
.back-mail{
  background-color: #E5E5F7;

  background: repeating-linear-gradient( -45deg, #b3bbc3, #b3bbc3 10px, #E5E5F7 10px, #E5E5F7 50px );
}
.text_icon{
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #533A3D 1.5px 1.5px, #533A3D -1.5px 1.5px, #533A3D -1.5px -1.5px, #533A3D 1.5px -1.5px;

}
.text_file{
  font-size: 20px;
  color:white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #3D3B31 1.25px 1.25px, #3D3B31 -1.25px 1.25px, #3D3B31 -1.25px -1.25px, #3D3B31 1.25px -1.25px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-pad{
  padding:0 !important;
  margin:0 !important;
}
  
  .pixel{
    padding: 0;
    font-size: 20px;
    color: white;
    background-color: rgba(179, 187, 195, .0);
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .gg-home {
    background:
        linear-gradient(to left,
            currentColor 5px,transparent 0)
            no-repeat 0 bottom/4px 2px,
        linear-gradient(to left,
            currentColor 5px,transparent 0)
            no-repeat right bottom/4px 2px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -2px
  }
  .gg-home::after,
  .gg-home::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }
  .gg-home::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
  }
  .gg-home::after {
    width: 8px;
    height: 10px;
    border: 2px solid;
    border-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    left: 3px;
    bottom: 0
  }

  .gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    border-radius: 2px
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
}

.gg-arrow-top-right-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px
}
.gg-arrow-top-right-r::after,
.gg-arrow-top-right-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px
}
.gg-arrow-top-right-r::after {
  width: 10px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  bottom: 8px
}
.gg-arrow-top-right-r::before {
  width: 6px;
  height: 6px;
  top: 4px;
  border-top: 2px solid;
  border-right: 2px solid
}

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
}
.gg-heart {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-10px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}
.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}
