

.password-font{
    font-size:60pt;
    background-color: rgb(179, 187, 195);
    width: 200pt;
    outline: none;
    border:0;
}

.bottom-line{
    border-bottom: 5px solid;
    border-bottom-color: white;
}